.crncy{
    background-color: lightgreen;
    color: white;
}

.buttonPlus {
    background-color: Green;
    border: none;
    color: white;
    font-style:bold;
    border-radius: 50%;
  }

  .buttonMinus {
    background-color: red;
    border: none;
    color: white;
    font-style:bold;
    border-radius: 50%;
  }